.pointer{
  cursor: pointer;
}
.product-size {
  height:190px;
  width:152px;
}
.font-bold{
  font-weight: 500;
}
.text-hiding {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.font-size-12{
  font-size: 12px;
}